
<aside>
<img src="http://fotozon.com/daily/image/taiwan_square.jpg" alt="Taiwan Picture of the Day" border="0"></a><br><br>
<hr>
<!--Word of the Day by TheFreeDictionary.com-->
<div style="width:160px;position:relative;background-color:;padding:4px">
<div style="font:bold 12pt '';color:#000000">Word of the Day</div>
<style>
#WordOfTheDay {width:100%;border:1px #000000 solid;background-color:white}
#WordOfTheDay H3 {font:bold 12pt '';color:#0}
#WordOfTheDay TD.WoDLeft {font:bold 10pt '';color:#0}
#WordOfTheDay TD {font:normal 10pt '';color:#0}
#WordOfTheDay A {color:#0}
</style>
<div id="tfd_wod_div" style="display:none"><table id="WordOfTheDay">
<tr><td colspan="2" align="center"><h3 style="margin-bottom:3pt">
<a href="http://www.thefreedictionary.com/superable">superable</a></h3></td></tr>
<tr><td class="WoDLeft" valign="top" align="right">Definition:</td>
<td align="left">Capable of being surmounted or excelled.</td></tr>
<tr><td class="WoDLeft" valign="top">Synonyms:</td><td>
<a href="http://www.thefreedictionary.com/conquerable">conquerable</a>
</td></tr></table></div>
<script type="text/javascript" src="http://img.tfd.com/daily/wod-top.js?0" charset="UTF-8"></script>
<script type="text/javascript">document.getElementById("tfd_wod_div").style.display=""</script>
<div style="font:normal 8pt '';color:#000000">
<a style="color:#000000" href="http://www.thefreedictionary.com/lookup.htm#Word-of-the-Day" rel="nofollow">Word of the Day</a>
provided by <a style="color:#000000" href="http://www.thefreedictionary.com/">TheFreeDictionary</a>
</div></div>
<!--end of Word of the Day-->
<hr>
<li><a href="http://efreeway.avcenter.ntu.edu.tw/speaking/speaking3.html" 
title="Daily Conversation 生活會話"><img 
src="http://example.com/graphics/icons/valid-xhtml10.gif" 
alt="" /></a></li>
<hr>
<p style="display: block !important; width: 140px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://weathertemperature.com/forecast/?q=Taiwan,T'ai-Wan,Taiwan" title="Taiwan, T'ai-Wan, Taiwan Weather Forecast" onclick="this.target='_blank'"><img src="http://widget.addgadgets.com/weather/v1/?q=Taiwan,T'ai-Wan,Taiwan&amp;s=1&amp;u=1" alt="Find more about Weather in Taiwan, T'ai-Wan, Taiwan" width="160" height="234" style="border:0" /></a><br /><a href="http://weathertemperature.com/" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" onclick="this.target='_blank'">Weather Forecast</a></p>
<hr>
<script src="//www.gmodules.com/ig/ifr?url=http://www.ldoceonline.com/widgets/igoogle_daily_pictures.xml&amp;up_pictures_count=2&amp;synd=open&amp;w=160&amp;h=101&amp;title=__MSG_title_daily_pictures__&amp;border=%23ffffff%7C0px%2C1px+solid+%2382CAFA%7C0px%2C2px+solid+%23BDEDFF%7C0px%2C3px+solid+%23E0FFFF&amp;output=js"></script>
<hr>

<!--
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="giraftw2002@gmail.com">
<input type="hidden" name="lc" value="TW">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="TWD">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/en_US/TW/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
-->
<hr>

<div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="lucida grande"></div>
</aside>